<html><head>
	{% csrf_token %}
		<title>Assurance أمّنّي&lt; </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/assets/css/main.css">
	</head>
	<body class="">

		<!-- Header -->
			<header id="header" class="reveal alt">

				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->


		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner" data-video="images/banner">
				<div class="inner">
					<h1><link rel="stylesheet" type="text/css" href="//www.fontstatic.com/f=barabics">أمّنّي</h1>
					<p>L'Assurance qui vous fait sortir de l'ordinaire<br>
					AMMANI : Assurance Magnificence Majoration Adaptabilité Numiricité Intelligence
</p>
					<a href="#one" class="button special scrolly">Commencer</a>
				</div>
			<video autoplay="" loop=""><source src="images/banner.mp4" type="video/mp4"><source src="images/banner.webm" type="video/webm"></video></section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="/static/images/fondhome2.jpg" height="300" width="300" alt="">
							</div>
							<div class="content">
								<header class="align-center">
									<h2>À PROPOS DE NOUS</h2>
									<p>Ce qui nous différencie des autres !</p>
								</header>
								<hr>
								<p> Nous sommes innovatrices, passionnées et perfectionnistes.<br>
                                    Nous tenons à réinventer l'Assurance.<br>
                                    Le modèle traditionnel des assurances doit s'adapter aux nouvelles réalités et aux changements du monde.
                                    <br>
                                    C’est pourquoi, pour vous, nous avons créé أمّنّي votre assurance spécialement intelligente.<br>
                                    Assurez-vous en quelques minutes grâce à votre application préférée : Facebook Messenger.</p>
								<p>أمّنّي n'est pas uniquement le nom de notre Assurance ! C'est également le nom de votre fidèle serviteur, votre chatbot أمّنّي بوت. <br>
      						 أمّنّي بوت  toujours là pour vous, grâce à sa disponibilité 24h/24 7j/7 via Messenger, signer votre contrat chez nous, et déclarer votre sinistre sur le champs et sans bouger de chez vous !</p>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h3>Pack OR</h3>
							</header>
							<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Savoir Plus</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>Pack Argent</h3>
							</header>
							<p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed </p>
							<ul class="actions">
								<li><a href="#" class="button alt">Savoir Plus</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>Pack Bronze</h3>
							</header>
							<p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Savoir Plus</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="/static/images/int3.jpg" alt="">
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Nous assurons votre intérieur</h2>

									</header>
									<hr>
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="/static/images/ext.jpg" alt="">
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Nous assurons votre extérieur</h2>
									</header>
									<hr>
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<h2>Toujours à votre écoute</h2>
						<p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
					</header>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">Contactez-nous</h2>
								<hr>
								<form action="/classify_image/register_contact/" method="post">
									 {% csrf_token %}
									<div class="field half first">
										<label for="name">Name</label>
										<input name="name" id="name" type="text" placeholder="Name">
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input name="email" id="email" type="email" placeholder="Email">
									</div>
									<div class="field">
										<label for="dept">Department</label>
										<div class="select-wrapper">
											<select name="dept" id="dept">
												<option value="">- Category -</option>
												<option value="1">Manufacturing</option>
												<option value="1">Shipping</option>
												<option value="1">Administration</option>
												<option value="1">Human Resources</option>
											</select>
										</div>
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
									</div>
									<ul class="actions align-center">
										<li><input value="Send Message" class="button special" type="submit"></li>
									</ul>
								</form>
							</div>
						</div>
					</section>
					<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Sbn3owBmtrigXUjIxVTTRkcT5ipHzE1K" width="1100" height="1040"></iframe>

					<div class="copyright">
						© Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>. Video <a href="http://coverr.co/">Coverr</a>.
					</div>
				</div>
			</footer>


			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js "></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>


<nav id="menu">
				<ul class="links">
					<li><a href="index.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">ACCEUIL</a></li>
					<li><a href="generic.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">CONTACTEZ-NOUS</a></li>
				</ul>
			<a href="#menu" class="close" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></a></nav></body></html>